<!-- <app-prescription-form></app-prescription-form> -->
<!-- <app-chat-page></app-chat-page> -->
<!-- <app-ai-driven-page></app-ai-driven-page> -->
<!-- Ai driven -->
 <!-- <app-doctor-list></app-doctor-list> -->
<!-- <div class="app-container">
      <app-header></app-header>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div> -->


<app-doctor-list></app-doctor-list>

    <!-- chatbot -->
    <!-- <div class="app-container">
      <app-header></app-header>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div> -->