 <header class="header">
      <div class="container">
        <div class="logo-container">
          <div class="logo">
            <i class="bi bi-heart-pulse"></i>
            <span class="logo-text">Your Doctor</span>
          </div>
          <div class="tagline">Feel free to ask any questions or share your concerns</div>
        </div>
      </div>
    </header>

    <!-- <div class="chat-container">
        <div class="chat-interface">

        </div>
       
        <form class="chat-form" >
            <input type="text" placeholder="Type your message..." required />
            <button type="submit">Send</button>
        </form>
    </div> -->

  <!-- <div class="chat-container">

    <div class="row ">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center p-3"
            style="border-top: 4px solid #0059ff;">
            <h5 class="mb-0">Chat messages</h5>
            
          <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <div class="input-group mb-0">
              <input type="text" class="form-control" placeholder="Type message"
                aria-label="Recipient's username" aria-describedby="button-addon2" />
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;">
                Button
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div> -->
<div class="chat-container">
        <div class="chat-header">
            <div>
                   <div><i class="bi bi-heart-pulse"></i></div>
                   <div>
                    <p>doctor-name</p>
                <!-- <p>doctor-specialist</p> -->
                   </div>
                
            </div>
        </div>
        <div class="chat-interface">
            <div class="doctor-message">
                <p>Welcome to Your Doctor-name! How can I assist you today?</p>
            </div>
            <div class="patient-message">
                <p>Hi Doctor!</p>
                

            </div>
            <div class="waiting-area">
                    
                </div>
            
        </div>
        <div class="chat-footer">
            <form class="chat-form">
                <input type="text" placeholder="Type your message..." />
                <button type="submit">Send</button>
            </form>
        </div>

</div>