# Angular / Node
node_modules/
dist/
.angular/
.tmp/
out-tsc/
coverage/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Others
*.swp
.1
.APACHE
.applescript
.auto-changelog
.babelrc
.bat
.bnf
.BSD
.c
.cc
.cjs
.cmd
.coffee
.cpp
.cs
.css
.cts
.def
.doc
.editorconfig
.eslintignore
.eslintrc
.exe
.flow
.gif
.gitattributes
.gitignore
.gitkeep
.gyp
.gypi
.h
.hh
.html
.ico
.iml
.in
.js
.jscsrc
.jshintrc
.json
.less
.LICENSE
.lock
.log
.ls
.map
.markdown
.md
.mjs
.mts
.ninja
.nix
.node
.npmignore
.nvmrc
.nycrc
.old
.pack
.php
.png
.prettierrc
.ps1
.py
.pyc
.scss
.sh
.sln
.svg
.swf
.taprc
.template
.toml
.ts
.tsbuildinfo
.txt
.typed
.vcxproj
.wasm
.wrapped
.xml
.yaml
.yml
