.sidebar {
    padding: 20px;
    background-color: #f4f7f9; 
    height: 100vh; 
    position: fixed; 
    left: 0; 
    width: 250px;

}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
a.active {
    background-color: #0056d2;
}
.icon {
    margin-right: 10px;
}