

    <div class="main">
 <div class="doctors-list">
    
           <div class="doctor-card">
                <img src="https://plus.unsplash.com/premium_photo-1674499074395-5277fdd707ee?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzY5fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
  <h4>Dr. Karththika</h4>
  <div class="specialty">General Physician</div>
  <div class="desc">Provides general medical care for adults.</div>
  <div class="button mt-2 d-flex flex-row align-items-center">
                    <button  class="btn btn-sm btn-outline-primary w-100" (click)="changeChatPage('doctor-list')" >Chat</button> 
                   </div>
</div>
  </div>

 
        
         
 <div  *ngIf="currentComponent == 'doctor-list'" class="chat-container">
            <app-chat-page></app-chat-page>
         </div>
        </div>



<!--  2nd doctor -->
         <!-- <div class="main">
 <div class="doctors-list">
    
           <div class="doctor-card">
                 <img src="https://images.unsplash.com/photo-1584467735867-4297ae2ebcee?q=80&w=705&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded" width="155" >
  <h4>Dr. Najak vel</h4>
  <div class="specialty">Psychiatrist</div>
  <div class="desc">Manages mental health and can prescribe medications.
  <div class="button mt-2 d-flex flex-row align-items-center">
                    <button  class="btn btn-sm btn-outline-primary w-100" (click)="changeChatPage('doctor-list')" >Chat</button>  
                   </div>
</div>
  </div>
 </div>
         
 <div  *ngIf="currentComponent == 'doctor-list'" class="chat-container">
            <app-chat-page></app-chat-page>
         </div>
         </div> -->
       
<!--  3rd doctor -->
         <!-- <div class="main">
 <div class="doctors-list">
    
           <div class="doctor-card">
                <img src="https://plus.unsplash.com/premium_photo-1661757221486-183030ef8670?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTZ8fGRvY3RvcnxlbnwwfHwwfHx8MA%3D%3D" class="rounded" width="155" >
  <h4>Dr. Vishally</h4>
  <div class="specialty">Psychiatrist</div>
  <div class="desc">Cares for babies, children, and teenagers.</div>
  <div class="button mt-2 d-flex flex-row align-items-center">
                    <button  class="btn btn-sm btn-outline-primary w-100" (click)="changeChatPage('doctor-list')" >Chat</button>                   </div>
</div>
  </div>
 
 <div  *ngIf="currentComponent == 'doctor-list'" class="chat-container">
            <app-chat-page></app-chat-page>
         </div>
         </div>          -->
