
 <header class="header">
      <div class="container">
        <div class="logo-container">
          <div class="logo">
            <i class="bi bi-heart-pulse"></i>
            <span class="logo-text">Contact Your Doctors</span>
          </div>
          <div class="tagline">Your Can Chat Personally</div>
        </div>
      </div>
    </header>

 <div class="doctors-list">
     <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://plus.unsplash.com/premium_photo-1661766743908-ca87957f4bb2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjE3fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Alexa morris</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Cardiologist</span> <br/>
                         <h6>Treats heart and blood vessel diseases.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>



          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://plus.unsplash.com/premium_photo-1661757066209-3570ef8a89c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzM3fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >

            
            </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Sheyra khan</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Neurologist </span> <br/>
                         <h6>Treats brain and nervous system disorders.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>



          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://images.unsplash.com/photo-1622253692010-333f2da6031d?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Jhon nil</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Allergist</span><br/>
                        <h6>Treats allergies and immune system disorders.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>
 </div>
   

  <div class="doctors-list">
     <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://images.unsplash.com/photo-1657551856874-d492ef8ecba0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjUxfHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Perera singh</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Dentist</span><br/>
                        <h6>Treats teeth, gums, and jaw problems.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>


          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://images.unsplash.com/photo-1584467735867-4297ae2ebcee?q=80&w=705&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Najak vel</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Psychiatrist </span><br/>
                        <h6>Manages mental health and can prescribe medications.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>



          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://images.unsplash.com/photo-1647763283644-578114aba0c2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzU1fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Jash shetty</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Dermatologist</span><br/>
                        <h6>Cares for skin, hair, and nail problems.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>
  </div>


  <div class="doctors-list">
     <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://images.unsplash.com/photo-1688588162416-f7a7e726e0bf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjQ0fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Thasinee</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>ENT Specialist </span><br/>
                        <h6>Treats ear, nose, and throat conditions.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>


          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://plus.unsplash.com/premium_photo-1674499074982-1e20253c5241?q=80&w=1298&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Sahana maha</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Gynecologist</span><br/>
                        <h6>Treats women's reproductive health and pregnancy.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>



          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://plus.unsplash.com/premium_photo-1661757221486-183030ef8670?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTZ8fGRvY3RvcnxlbnwwfHwwfHx8MA%3D%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Vishally</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Pediatrician </span><br/>
                        <h6>Cares for babies, children, and teenagers.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>
  </div>

  <div class="doctors-list">
     <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://plus.unsplash.com/premium_photo-1674499074395-5277fdd707ee?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzY5fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Karththika</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>General Physician </span><br/>
                        <h6>Provides general medical care for adults.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>


          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://images.unsplash.com/photo-1641723345378-a701b30b2d36?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzgzfHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Sunil</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span>Pulmonologist</span><br/>
                        <h6>Treats lung and respiratory system issues.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>



          <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                <img src="https://plus.unsplash.com/premium_photo-1673958771859-935b2aed1ff3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTA1fHxkb2N0b3J8ZW58MHx8MHx8fDA%3D" class="rounded" width="155" >
                </div>
                <div class="ml-3 w-100">
                   <h4 class="mb-0 mt-0">Dr. Sarah</h4>             
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        
                        <span>Urologist</span><br/>
                        <h6>Manages urinary and male reproductive health.</h6>
                    </div>  
                   </div>
                   <div class="button mt-2 d-flex flex-row align-items-center">
                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
                   </div>
                 </div>
                </div>
            </div>
         </div>
  </div>




         

         