<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <span class="navbar-brand fw-bold text-white">Medicare </span>
  <div class="ms-auto">
    <a class="nav-link text-white fw-semibold" href="/profile">
      <i class="bi bi-person-circle me-1"></i> Profile
    </a>
  </div>
</nav>


<div class="dashboard-header p-3 mb-4 shadow-sm d-flex justify-content-between align-items-center bg-white rounded">
  <div>
    <h4 class="fw-bold">Welcome back,Reception! </h4>
    <p class="mb-0 text-muted">Manage appointments, patients, and billing.</p>
  </div>
</div>

<div class="info-row mb-4">
  <div class="info-card bg-light">
    <h6>Appointment Management</h6>
    <select class="form-select" [(ngModel)]="selectedAction">
      <option value="book">Book Appointment</option>
      <option value="edit">Edit Appointment</option>
      <option value="cancel">Cancel Appointment</option>
    </select>
    <div class="mt-2">
      <button class="btn btn-primary btn-sm w-100 mt-2">Proceed</button>
    </div>
  </div>

  <div class="info-card bg-light">
    <h6>Patient Registration</h6>
    <button class="btn btn-success btn-sm w-100 mt-2">Add New Patient</button>
  </div>

  <div class="info-card bg-light">
    <h6>Doctor Availability</h6>
    <button class="btn btn-info btn-sm w-100 mt-2">View Availability</button>
  </div>

  <div class="info-card bg-light">
    <h6>Create Bill</h6>
    <button class="btn btn-warning btn-sm w-100 mt-2">Generate Bill</button>
  </div>
</div>
 
<!-- Footer -->
<footer class="footer text-center py-3 mt-auto bg-light">
  <small class="text-muted">&copy; 2025 Medicare. All rights reserved.</small>
</footer>
