 .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #f8f9fa;
  padding-left: 2%;
  margin-bottom: 2%;
  padding: 10px;

  .nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: white;
     

    &:hover {
      text-decoration: underline;
      color: #161616;
    }
  }
  background-color: #0c84fc;
}

.dashboard-header {
  background-color: #f1eeee;
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  margin-bottom: 5%;
  padding-left: 2%;
  margin-left: 5%;
  margin-right: 5%;
   
}
.dashboard-header h4 {
  font-size: 1.5rem;  
   
}


.info-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 5%;
}

.info-card {
  padding: 1rem;
  border: 1px solid #5aa8f7;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  flex: 1 1 220px;
  max-width: 240px;
  background-color: white;
}
.info-card h6{
    font-size: 15px;
    color: #6d6d6d;
}
.footer {
  border-top: 1px solid #dee2e6;
  font-size: 0.875rem;
  background-color:#237fdb ;
  margin-top: 10%;
  padding: 1%;
  color: white;
}
